<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a routerLink="/"><i class="fa fa-home"></i> Home</a>
          <a>Detail </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <img style="width: 100%;" [src]="prd.image" alt="">
      </div>
      <div class="col-lg-7">
        <div class="product__details__text">
          <h3>{{prd.name}} <span>Brand: SKMEIMore Men Watches from SKMEI</span></h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <span>( 138 reviews )</span>
          </div>
          <div class="product__details__price">
            $ {{prd.price - prd.sale_price}} <span *ngIf="prd.sale_price > 0">$ {{prd.price}}</span>
          </div>
          <p>Nemo enim ipsam voluptatem quia aspernatur aut odit aut loret fugit, sed quia consequuntur
            magni lores eos qui ratione voluptatem sequi nesciunt.</p>
          <div class="product__details__button">
            <!-- <div class="quantity">
              <span>Quantity:</span>
              <div class="pro-qty">
                <input type="text" value="1">
              </div>
            </div> -->
            <a href="#" class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</a>
            <!-- <ul>
              <li><a><span class="icon_heart_alt"></span></a></li>
            </ul> -->
          </div>
          <div class="product__details__widget">
            <ul>
              <li>
                <span>Categories:</span>
                <p>{{prd.category_name}}</p>
              </li>
              <li>
                <span>Promotions:</span>
                <p>Free shipping</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="product__details__tab">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2 )</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
              <h6>Description</h6>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                consequat massa quis enim.</p>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                quis, sem.</p>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
              <h6>Specification</h6>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                consequat massa quis enim.</p>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                quis, sem.</p>
            </div>
            <div class="tab-pane" id="tabs-3" role="tabpanel">
              <h6>Reviews ( 2 )</h6>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                consequat massa quis enim.</p>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                quis, sem.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Details Section End -->
