<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
  <div class="offcanvas__close">+</div>
  <ul class="offcanvas__widget">
    <li><span class="icon_search search-switch"></span></li>
    <li>
      <a href="#"><span class="icon_heart_alt"></span>
        <div class="tip">2</div>
      </a>
    </li>
    <li>
      <a href="#"><span class="icon_bag_alt"></span>
        <div class="tip">2</div>
      </a>
    </li>
  </ul>
  <div class="offcanvas__logo">
    <a routerLink="/"><img src="assets/img/logo.png" alt=""></a>
  </div>
  <div id="mobile-menu-wrap"></div>
  <div class="offcanvas__auth">
    <a routerLink="/login">Login</a>
    <a href="#">Register</a>
  </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-2">
        <div class="header__logo">
          <a routerLink="/"><img src="assets/img/logo.png" alt=""></a>
        </div>
      </div>
      <div class="col-xl-5 col-lg-7">
        <nav class="header__menu">
          <ul>
            <li><a routerLink="/">Home</a></li>
            <!-- <li><a href="#">Women’s</a></li>
            <li><a href="#">Men’s</a></li> -->
            <li><a routerLink="/shop">Shop</a></li>
            <li><a routerLink="/cart">Cart</a></li>
            <li><a routerLink="/checkout">Checkout</a></li>
            <!-- <li><a href="./blog.html">Blog</a></li> -->
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-4">
        <div class="header__right">
          <div *ngIf="!checkLogin" class="header__right__auth">
            <a style="font-size: 16px; color: #111;" routerLink="/login">
              Login
            </a>
          </div>
          <div *ngIf="checkLogin" class="header__right__auth">
            <span style="font-size: 16px;">Hi, {{account.name}} </span>
            <a style="font-size: 16px; color: #ca1515; cursor: pointer;" (click)="logOut()">
              / Log out
            </a>
          </div>
          <ul class="header__right__widget">
            <!-- <li><span class="icon_search search-switch"></span></li> -->
            <li><a (click)="goToFavourite()"><span class="icon_heart_alt"></span>
                <!-- <div class="tip" style="background-color: #ca1515;">2</div> -->
              </a></li>
            <li><a routerLink="/cart"><span class="icon_bag_alt"></span>
                <!-- <div class="tip" style="background-color: #ca1515;">2</div> -->
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="canvas__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
<!-- Header Section End -->

<div style="margin-top: 100px;"></div>

<app-search></app-search>
