<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a routerLink="/"><i class="fa fa-home"></i> Home</a>
          <span>Blog</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Blog Section Begin -->
<section class="blog spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic large__item set-bg" style="background-image: url('assets/img/blog/blog-1.jpg');">
          </div>
          <div class="blog__item__text">
            <h6><a routerLink="/blog-detail">No Bad Blood! The Reason Why Tamr Judge Finally Made Up With...</a></h6>
            <ul>
              <li>by <span>Ema Timahe</span></li>
              <li>Seb 17, 2019</li>
            </ul>
          </div>
        </div>
        <div class="blog__item">
          <div class="blog__item__pic set-bg" style="background-image: url('assets/img/blog/blog-7.jpg');"></div>
          <div class="blog__item__text">
            <h6><a routerLink="/blog-detail">Pot Party! See Farrah Abraham Flaunt Smoking Body At...</a></h6>
            <ul>
              <li>by <span>Ema Timahe</span></li>
              <li>Seb 17, 2019</li>
            </ul>
          </div>
        </div>
        <div class="blog__item">
          <div class="blog__item__pic set-bg" style="background-image: url('assets/img/blog/blog-9.jpg');"></div>
          <div class="blog__item__text">
            <h6><a routerLink="/blog-detail">CMT Awards 2019 Red Carpet Arrivals Carrie Underwood, Sheryl...</a></h6>
            <ul>
              <li>by <span>Ema Timahe</span></li>
              <li>Seb 17, 2019</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic set-bg" style="background-image: url('assets/img/blog/blog-2.jpg');"></div>
          <div class="blog__item__text">
            <h6><a routerLink="/blog-detail">Amf Cannes Red Carpet Celebrities Kendall Jenner, Pamela...</a></h6>
            <ul>
              <li>by <span>Ema Timahe</span></li>
              <li>Seb 17, 2019</li>
            </ul>
          </div>
        </div>
        <div class="blog__item">
          <div class="blog__item__pic set-bg" style="background-image: url('assets/img/blog/blog-4.jpg');"></div>
          <div class="blog__item__text">
            <h6><a routerLink="/blog-detail">Ireland Baldwin Shows Off Trendy Ilse Valfre Tattoo At Stagecoach...</a>
            </h6>
            <ul>
              <li>by <span>Ema Timahe</span></li>
              <li>Seb 17, 2019</li>
            </ul>
          </div>
        </div>
        <div class="blog__item">
          <div class="blog__item__pic set-bg" style="background-image: url('assets/img/blog/blog-8.jpg');"></div>
          <div class="blog__item__text">
            <h6><a routerLink="/blog-detail">Kim Kardashian Steps Out In Paris Wearing Shocking Sparkly...</a></h6>
            <ul>
              <li>by <span>Ema Timahe</span></li>
              <li>Seb 17, 2019</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic set-bg" style="background-image: url('assets/img/blog/blog-3.jpg');"></div>
          <div class="blog__item__text">
            <h6><a routerLink="/blog-detail">Gigi Hadid, Rita Ora, Serena & Other Hot Celebs Stun At 2019...</a></h6>
            <ul>
              <li>by <span>Ema Timahe</span></li>
              <li>Seb 17, 2019</li>
            </ul>
          </div>
        </div>
        <div class="blog__item">
          <div class="blog__item__pic set-bg" style="background-image: url('assets/img/blog/blog-5.jpg');"></div>
          <div class="blog__item__text">
            <h6><a routerLink="/blog-detail">Billboard Music Awards: Best, Worst & Wackiest Dresses On The...</a></h6>
            <ul>
              <li>by <span>Ema Timahe</span></li>
              <li>Seb 17, 2019</li>
            </ul>
          </div>
        </div>
        <div class="blog__item">
          <div class="blog__item__pic large__item set-bg" style="background-image: url('assets/img/blog/blog-6.jpg');">
          </div>
          <div class="blog__item__text">
            <h6><a routerLink="/blog-detail">Stephanie Pratt Busts Out Of Teeny Black Bikini During Hawaii...</a></h6>
            <ul>
              <li>by <span>Ema Timahe</span></li>
              <li>Seb 17, 2019</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12 text-center">
        <a class="primary-btn load-btn">Load more posts</a>
      </div>
    </div>
  </div>
</section>
<!-- Blog Section End -->
